<div class="container" *ngIf="cartProducts.length > 0; else empty">
  <h2 class="text-center">Ваш заказ:</h2>

  <table>
    <tbody>
    <tr *ngFor="let cartProduct of cartProducts; let i = index">
      <td>{{ cartProduct.type }}</td>
      <td>{{ cartProduct.title }}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(cartProduct)">Удалить</button>
      </td>
      <td>{{ cartProduct.price }} Руб</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <b class="right">Итого: {{totalPrice}} Руб</b>

  <h2 class="text-center">Доставка:</h2>

  <div class="text-center text-danger" *ngIf="added">
    {{ added }}
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label for="name">ФИО</label>
      <input id="name" type="name" formControlName="name">
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
        <small *ngIf="form.get('name').errors.required">Введите ваше имя</small>
      </div>
    </div>

    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
        <small *ngIf="form.get('email').errors.required">Enter Email</small>
        <small *ngIf="form.get('email').errors.email">Enter valid Email</small>
      </div>
    </div>


    <div class="form-control">
      <label for="phone">Номер телефона</label>
      <input id="phone" type="phone" formControlName="phone">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
        <small *ngIf="form.get('phone').errors.required">Введите номер телефона</small>
      </div>
    </div>

    <div class="form-control">
      <label for="address">Адрес</label>
      <input id="address" type="address" formControlName="address">
      <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
        <small *ngIf="form.get('address').errors.required">Введите ваш адрес</small>
      </div>
    </div>

    <div class="form-control">
      <label for="payment">Метод оплаты:</label>
      <select formControlName="payment">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid ||
    submitted">Добавить</button>

  </form>
</div>

<ng-template #empty>
  <h2 class="text-center">Корзина пуста</h2>
</ng-template>

