<div class="wrapper">
  <nav class="navbar bg-primary">
      <h2>Просто рыба</h2>

      <ul>
          <li routerLinkActive="active">
              <a (click)="setType('fish1')">Рыба охлаждённая</a>
          </li>
          <li routerLinkActive="active">
              <a (click)="setType('fish2')">Рыба слабосолёная</a>
          </li>
          <li routerLinkActive="active">
              <a (click)="setType('fish3')">Рыба вяленая</a>
          </li>
          <li routerLinkActive="active">
              <a (click)="setType('Cart')" [routerLink]="['/cart']">Корзина</a>
          </li>
      </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <br>

  <div class="footer">
    <div class="copyright">
      Просто рыба
    </div>
    <div class="atisda">
      <p>&copy; Copy right 2021</p>
    </div>
  </div>
</div>
